# Audio output
AUDIO_OUTPUT=Plantronics P610
# AUDIO_OUTPUT=Elektron Digitone
# Add gain to audio output
GAIN_OUTPUT=20.0
# Midi input
MIDIIN=Elektron Digitone MIDI 1
# Channel where midi notes are sent
MIDI_NOTE_CHANNEL=0
# Set sample rate reducer steps
SAMPLE_RATE_REDUCER=b0 4a xx
# set master volume
MASTER_VOLUME=b0 49 xx
# sample selector
GRANULAR_SAMPLE_SELECTOR=c0 xx
# Set drive distortion
DISTORTION=b0 48 xx
# Filter cutoff
FILTER_CUTOFF=b0 4c xx
# Filter resonance
FILTER_RESONANCE=b0 4d xx
# enable debug mode
DEBUG=true